style 
  .description {  margin: 5px; }
  .info { margin: 5px; } 
  .eventful { float: left; } 
  h1.info { background-color: #000000; color: #ffffff; margin-top: 0px;}
  img.eventful_main { border: 1px solid #ccc; float: left; margin: 0 7px 3px 0; } 
img.eventful_main(src=images.image.medium.url)
h1.info #{title} - #{city}, #{region}
    
    
p.description #{description}
