div.eventful_detail
  p 
    b Venue: 
    span #{venue_name}
  hr
  p 
    b Location: 
    span #{address}
  hr
  p 
    b Start Time: 
    span #{pretty_start_time}
  hr 
  p 
    b Price: 
    span #{displayPrice}
  hr
  p 
    a(rel="nofollow", href="http://www.facebook.com/share.php?u=<;url>",onclick="return fbs_click()", target="_blank", class="fb_share_link") Share on Facebook
    span.ticket_image
      a(href=ticket_url,target='_blank')
        img(src='/images/ticket.gif')
